@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Montserrat:wght@100;400;500&display=swap');

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
*/

html {
    font-size: 62.5%;
}

body {
    background-color: #9003DD; 
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
}

.main-container {
    display: block;
    max-width: 100vw;
    margin: 0 auto;
    background-color: #9003df;
}

.container {
    display: block;
    float: left;
    padding: 20px;
    width: 100%;
}

header {
    background-color: #000;
    display: block;
    float: left;
    width: 100vw;
    padding: 20px;
    border-bottom: 1px solid #fff;
}

header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px
}

h1 {
    font-size: 2.4rem;
    margin-bottom: 20px;
    margin-top: 20px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

h4 {
    font-size: 1.6rem;
    margin-bottom: 10px;
    padding-top: 10px;
}

p {
    margin-bottom: 10px;
    line-height: 1.4;
}

ol {
    margin-left: 30px;
}

ol li {
    font-size: 1.4rem;
}

section {
    display: block;
    font-size: 1.5rem; /* equivalente a 15px */
    padding: 20px; 
    width: 100%; 
}

section nav {
    display: block;
    float: left;
    width: 27%;
    padding: 20px;
}

nav li {
    margin: 1px 20px 1px 0;
    padding: 10px;
}

nav li:hover {
    background-color: #000;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

section article {
    display: block;
    float: left;
    width: 70%;
}

footer {
    background-color: #000;
    display: block;
    float: left;
    width: 100% ;
    color: #9003DD;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

footer p {
    color: #ffffff;
    font-size: 1.4rem;
}

footer small {
    font-size: 80%;
}

#call {
    text-align: center;
}

.cognito {
    height: 380px !important;
    overflow: hidden !important;
}

.cog-form__container {
    background-color: #9003DD !important;
}

label {
    color: #fff !important;
}

.cog-heading {
    visibility: hidden !important;
}

.el-button.cog-button--has-status.cog-button--primary.cog-button--navigation.el-button--default.cog-button.cog-button--submit {
    background-color: #fff !important;
    border: 1px #fff !important;
    color: #9003DD !important;
}

@media (max-width: 600px) {
    section nav,
    section article {
        width: 100%;
    }
    .container {
        padding: 10px;
    }
}

@media (max-width: 320px) {
    .cognito {
        visibility: hidden !important;
    }
}